@import url('https://fonts.googleapis.com/css2?family=Ubuntu&family=Varela+Round&display=swap');
.mockup{
    background-image: url('sample.png');
    width: 800px;
    height: 500px;
    float: right;
}

body{
    text-align: center;
    /* font-family: 'Ubuntu', sans-serif; */
    font-family: 'Varela Round', sans-serif;
    text-transform: uppercase;
    color: #707070;
}

p{
    margin: 0;
    padding: 0;
    font-family: 'Varela Round', sans-serif;

}

p.current-temp{
    font-size: 50px;
    grid-row: 1/3;
    justify-self: end;
    
}
p.linebreak{
    justify-self: center;
    align-self: end;
    grid-column: 2/4;
}

p.temp-highest, p.temp-lowest{
    font-size: 12px;
}

p.temp-highest{
    grid-row: 2/3;
    grid-column: 2/3;
}

p.temp-lowest{
    grid-row: 2/3;
    grid-column: 3/4;
}

input{
    border: none;
    background-color:  #e8e8e8;
}

button{
    background-color: transparent;
    border: none;
    color: #707070;
}

button:hover{
    color: #ff8856;
}

.container{
    width: 500px;
    height: 700px;
    padding: 30px 50px;
    border: 1px solid grey;

}

.container>div{
    margin: 30px;
}

.temperature{
    display: grid; 
    grid-template-columns: 50% 10% 10%;
    grid-template-rows: 50% 50%;
    margin: auto;
    grid-column-gap: 10px;
}

