@import url('https://fonts.googleapis.com/css2?family=Ubuntu&family=Varela+Round&display=swap');


/* //TODO: responsive for mobile */

body{
    text-align: center;
    font-family: 'Varela Round', sans-serif;
    text-transform: uppercase;
    color: #707070;
}

h4{
    font-size: 30px;
}

p{
    margin: 0;
    padding: 0;
    font-family: 'Varela Round', sans-serif;     
    font-size: 12px;
} 

p.current-temp, p.current-temp2{
    text-transform: none;
    font-size: 50px;
    justify-self: end;
    grid-area: current-temp;
    
}

p.temp-highest, p.temp-highest2{
    text-transform: none;
    justify-self: end;
    padding-right: 30px;
    grid-area: highest-temp;
}

p.detail-title, p.detail-title2{
    font-size: 20px;
    padding-bottom: 10px;
    font-weight: bold;
    grid-area:title;
    text-align: left;
}

p.detail, p.detail2{
    font-size: 10px;

    text-align: left;
    grid-area: detail;

}
p.detail-num, p.detail-num2{
   grid-area: num;
   font-size: 10px;
   text-align: left;
}

img{
    width: 180px;
}

canvas{
    width: 90%;
    margin: auto;
}

input, #input2{
    border: none;
    outline: none;
    background-color:  #e8e8e8 !important;
    font-family: 'Varela Round', sans-serif;
    text-transform: uppercase;
    width: 70%;
    line-height: 2.5;
    text-align: center;
    opacity: 0.5;
    
}

input:hover, #input2:hover{
    opacity: 1;
    
}

button, button#submit2{
    background-color: transparent;
    border: none;
    color: #707070;
    font-size: 18px;
}

button:hover, button#submit2:hover{
    color: #e8e8e8;
}

button.plus{
    height: 300px; 
    width: 20px;
    outline: none;
    background-color:  #515070;
    opacity: 0.4;
    color: white;
}
button.delete{
    height: 300px; 
    width: 20px;
   
    background-color: #fcc28c;
    opacity: 0.4;
    color: white;
    outline: none;
    display:none;

}
button.plus:hover, button.delete:hover{
    opacity: 1;
}

/* GRID CONTAINTER */
.wrapper{
    display: grid;
    grid-template-columns: 600px 600px 20px;
}
.container, .container2{
    width: 500px;
    height: 700px;
    padding: 30px 50px;
    /* border: 1px solid grey; */
    display: grid; 

}
.container2{
    display: grid;
    display:none;
    
}

.container>div, .container2>div{
    margin: 10px;
}

.temperature, .temperature2{
    display: grid; 
    grid-template-columns: 50% 15% 2%;
    grid-template-rows: 40% 40% 20%;
    margin: auto;
    grid-column-gap: 25px;
    grid-template-areas: 
    "current-temp title title"
    "current-temp detail num"
    "highest-temp detail num" ;
}

.add-city{
   
    margin: auto 0;
}


@media only screen and (max-width: 600px){
    .wrapper{
        display: grid;
        gap: 1rem;
        grid-template-columns: auto;
        grid-template-rows: auto auto auto;
        grid-gap: 40px;
    }
    .container, .container2{
        width: 80%;
        padding: 10px;
        margin: auto;
    }

    button.plus, button.delete{
        width: 70%;
        height: 20px;
        margin: auto;
    }
}