@import url('https://fonts.googleapis.com/css2?family=Ubuntu&family=Varela+Round&display=swap');
.mockup{
    background-image: url('sample.png');
    width: 800px;
    height: 500px;
    float: right;
    display:none;
}

body{
    text-align: center;
    /* font-family: 'Ubuntu', sans-serif; */
    font-family: 'Varela Round', sans-serif;
    text-transform: uppercase;
    color: #707070;
}

h4{
    font-size: 30px;
}

p{
    margin: 0;
    padding: 0;
    font-family: 'Varela Round', sans-serif;     
    font-size: 12px;
}

p.current-temp{
    font-size: 50px;
    justify-self: end;
    grid-area: current-temp;
    
}

p.temp-highest{

    justify-self: end;
    padding-right: 30px;
    grid-area: highest-temp;
}

p.detail-title{
    font-size: 20px;
    padding-bottom: 10px;
    font-weight: bold;
    grid-area:title;
    text-align: left;
}

p.detail{
    font-size: 10px;

    text-align: left;
    grid-area: detail;

}
P.detail-num{
   grid-area: num;
   font-size: 10px;
   text-align: left;
}

img{
    width: 180px;
}

canvas{
    width: 90%;
    margin: auto;
}

input{
    border: none;
    background-color:  #e8e8e8;
    font-family: 'Varela Round', sans-serif;
    width: 70%;
    line-height: 2.5;
    text-align: center;
    opacity: 0.5;
    
}
input:hover{
    opacity: 1;
}

button{
    background-color: transparent;
    border: none;
    color: #707070;
}

button:hover{
    color: #ff8856;
}


.container{
    width: 500px;
    height: 700px;
    padding: 30px 50px;
    border: 1px solid grey;

}

.container>div{
    margin: 30px;
}

.temperature{
    display: grid; 
    grid-template-columns: 50% 15% 2%;
    grid-template-rows: 40% 40% 20%;
    margin: auto;
    grid-column-gap: 25px;
    grid-template-areas: 
    "current-temp title title"
    "current-temp detail num"
    "highest-temp detail num" ;
}


